# test data
temp/
datastore/
.csv
.bsx
.pbg
.html

# configuration
config.yaml

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/